#幸运的是，从版本0.8.0开始，Jacoco可以检测，识别和忽略Lombok生成的代码。
#您作为开发人员唯一要做的就是在目录的根目录中创建一个名为lombok.config的文件，并设置以下标志：
#这会将注释lombok.@Generated添加到相关的方法，类和字段中。 Jacoco知道这个注释，并会忽略带注释的代码
#请注意，您至少需要0.8.0版本的Jacoco和龙目岛v1.16.14
lombok.addLombokGeneratedAnnotation = true

#lombok.equalsAndHashCode.callSuper=call
#
#lombok.accessors.chain = true